[*.cs]

# CS8764: A nulidade do tipo de retorno não corresponde ao membro substituído (possivelmente devido a atributos de nulidade).
dotnet_diagnostic.CS8764.severity = none

# CS8765: A nulidade do tipo de parâmetro não corresponde ao membro substituído (possivelmente devido a atributos de nulidade).
dotnet_diagnostic.CS8765.severity = none
